<!doctype html>
<html>
  <head>
    <title>Student Project Homepage</title>
  </head>
  <body>
    <h1>Welcome to the Student Project homepage! </h1>

    Projects:
    <ul>
      {% for project in projects %}
        <li><a href='/project?title={{ project[0] }}'>{{ project[0] }}</a></li>
      {% endfor %}
    </ul>

    Student GitHubs:
    <ul>
      {% for student in students %}
        <li><a href='/student?github={{ student[0] }}'>{{ student[0] }}</a></li>
      {% endfor %}
    </ul>

  </body>
</html>